[tools]

"ubi:twpayne/chezmoi" = '2.73.0'

"ubi:starship/starship" = 'v1.26.0'

herdr = "v0.9.3"

#{{ if eq .chezmoi.osRelease.id "ubuntu" }}
"aqua:neovim/neovim"  = '0.12.5'
#{{ end }}

"github:cli/cli" = 'v2.102.0'

"github:github/copilot-cli" = '1.0.93'

claude = "v2.1.294"

go = '1.27.1'

rust = { version = "1.99.0", profile = "minimal" }

kubectl = '1.37.1'

"ubi:derailed/k9s" = '0.51.0'

"aqua:bitnami-labs/sealed-secrets" = '0.40.0'

helm = '3.22.0'

"aqua:kubernetes-sigs/kustomize" = '5.8.1'

"ubi:jdx/usage" = {version = 'v6.12.1'}

"ubi:sharkdp/vivid" = 'v0.11.1'

tflint = '0.64.0'

"ubi:warrensbox/terraform-switcher" = { version = "v1.20.0", exe = "tfswitch" } 

"github:jesseduffield/lazygit" = '0.65.1'

"ubi:aristocratos/btop" = "1.4.7"

"ubi:pre-commit/pre-commit" = "v4.6.2"

"ubi:google/yamlfmt" = "v0.21.0"

"ubi:casey/just" = "1.58.0"

fzf = "0.74.4"

fastfetch = "2.69.0"

carapace = "v1.8.0"

#"cargo:rage" = '0.11.1'

"aqua:bitwarden/clients" = 'cli-v2026.9.0'

age = "v1.3.2"

sops = "3.13.3"
