[tools]
#{{ if eq .chezmoi.osRelease.id "ubuntu" }}
"aqua:neovim/neovim"  = '0.12.5'
#{{ end }}
"github:cli/cli" = 'v2.101.0'
"github:github/copilot-cli" = '1.0.88'
"ubi:starship/starship" = 'v1.26.0'
"ubi:twpayne/chezmoi" = '2.72.2'
"ubi:derailed/k9s" = '0.51.0'
"ubi:jdx/usage" = {version = 'v2.18.2'}
"ubi:sharkdp/vivid" = 'v0.10.1'
rust = { version = "1.91.1", profile = "minimal" }
"cargo:rage" = '0.11.1'
go = '1.25.6'
kubectl = '1.37.1'
"aqua:bitnami-labs/sealed-secrets" = '0.40.0'
helm = '3.20.1'
"aqua:kubernetes-sigs/kustomize" = '5.8.1'
tflint = '0.60.0'
"ubi:warrensbox/terraform-switcher" = { version = "v1.10.0", exe = "tfswitch" } 
"github:jesseduffield/lazygit" = '0.65.1'
"aqua:bitwarden/clients" = 'cli-v2026.9.0'
"ubi:aristocratos/btop" = "1.4.7"
"ubi:pre-commit/pre-commit" = "v4.6.2"
"ubi:google/yamlfmt" = "v0.21.0"
"ubi:casey/just" = "1.58.0"
fzf = "0.74.4"
fastfetch = "2.68.1"
carapace = "v1.6.4"
claude = "v2.1.283"
age = "v1.3.2"
sops = "3.13.3"
