[tools]
#{{ if eq .chezmoi.osRelease.id "ubuntu" }}
"aqua:neovim/neovim"  = '0.11.6'
#{{ end }}
"github:cli/cli" = 'v2.88.1'
"github:github/copilot-cli" = '1.0.11'
"ubi:starship/starship" = 'v1.24.2'
"ubi:twpayne/chezmoi" = '2.70.0'
"ubi:derailed/k9s" = '0.50.18'
"ubi:jdx/usage" = {version = 'v2.8.0'}
"ubi:sharkdp/vivid" = 'v0.10.1'
rust = { version = "1.91.1", profile = "minimal" }
"cargo:rage" = '0.11.1'
go = '1.25.6'
kubectl = '1.35.3'
"aqua:bitnami-labs/sealed-secrets" = '0.36.1'
helm = '3.20.1'
"aqua:kubernetes-sigs/kustomize" = '5.8.1'
tflint = '0.60.0'
"ubi:warrensbox/terraform-switcher" = { version = "v1.10.0", exe = "tfswitch" } 
"github:jesseduffield/lazygit" = '0.55.1'
"aqua:bitwarden/clients" = 'cli-v2025.5.0'
"ubi:aristocratos/btop" = "1.4.6"
"ubi:pre-commit/pre-commit" = "v4.5.1"
"ubi:google/yamlfmt" = "v0.21.0"
"ubi:casey/just" = "1.50.0"
fzf = "0.70.0"
fastfetch = "2.60.0"
carapace = "v1.6.4"
claude = "v2.1.81"
